
<div class="title border-bottom">
  <h1><%= @restaurant.name %></h1>
</div>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<div class="reviews border">
  <h2>Reviews</h2>
  <% @restaurant.reviews.each do |r| %>
    <p><%= 'â­ï¸' * r.rating %> <%= r.content %></p>
  <% end %>
</div>
<br>

<%= render "reviews/form", review: @review , restaurant: @restaurant%>

<br>

<h3><%= link_to 'ðŸ”™', restaurants_path %></h1>

