
<div class="title border-bottom">
  <h1><%= @restaurant.name %></h1>
</div>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<div class="reviews border">
  <h2>Reviews</h2>
  <% @restaurant.reviews.each do |r| %>
    <p><%= 'â­ï¸' * r.rating %> <%= r.content %></p>
  <% end %>
</div>
<br>

<h2>Add a review</h2>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating , collection: [1, 2, 3, 4, 5] %>
  <%= f.input :content %>
  <%= f.submit class: "btn btn-primary"%>
<% end %>

<br>

<h3><%= link_to 'ðŸ”™', restaurants_path %></h1>

